@page

@model IndexModel

@{
    ViewBag.Title = "Home";
}

<section>
    @foreach (var post in Model.Posts)
    {
        <article class="row">
            <h2><a asp-page="Post" asp-route-slug="@post.Slug">@post.Title</a></h2>
            <time>@post.PublishedAt.ToString("MMMM dd, yyyy")</time>
            <p>@post.Excerpt</p>
            @if (User.Identity.IsAuthenticated)
            {
                <span class="actions">[ <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">Edit</a> ]</span>
            }
        </article>
    }
</section>
<div id="new-post" class="actions">
    [ <a asp-page="/Account/Posts/Create">Create New Post</a> ]
</div>