@using Bloggy.Models
@using Bloggy.Extensions

@model Post

@{
    ViewBag.Title = Model.Slug;
}

<article class="row">
    <h2><a href="#">@Model.Title</a></h2>
    <time>@Model.PublishedAt.Value.ToString("MMMM dd, yyyy")</time>
    <span id="tags"><a href="#">#@Model.Tags</a></span>
    <markdown>@Model.Content</markdown>
</article>

<div id="comments">
    <h3>@Model.Comments.Count() Comments</h3>
    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <gravatar email="@comment.Email" />
            <div>
                <h4><a href="@(comment.Website ?? "#")">@comment.Author</a></h4>
                <time>@comment.PublishedAt.ToString("MMMM dd, yyyy")</time>
                <p markdown>@Html.Raw(comment.Content)</p>
            </div>
        </div>
    }
</div>

@if (ViewContext.IsPost() && ViewData.ModelState.IsValid)
{
    <alert type="Success"><strong>Well done!</strong> Your comment has been added</alert>
}
else
{
    <partial name="_CommentFormPartial" model="new Comment()" />
}